html {
    background: linear-gradient(to right,#ff5500 0%,#ff9c6a 45% );
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8rem ;
    margin-top: 1.5rem;
    margin-right: 8rem;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#logo{
    font-size: x-large;
}

#page a{
    padding: 8px 8px 8px 8px;
}
#page {
    display: flex;
    gap: 3rem;
    font-size: x-large;
    padding: 10px 20px 10px 20px;
    border:2px black solid;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.2)
}

#buy{
    background-color: rgb(54, 49, 49);
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    font-size: large;
}

#buy_2{
    background-color: rgb(54, 49, 49);
    border-radius: 25px;
    padding: 15px 30px 15px 30px;
    width:fit-content;
    font-size: 20px;
    font-weight:normal;
}

#para p,#para h1{
    max-width: 30rem;
}

#para h1{
    font-size: 55px;
}

#para p{
    font-size: 22px;
}

#para{
    position: absolute;
    top: 26%;
}

main{
    margin-left: 8rem ;
    margin-top: 1.5rem;
    margin-right: 8rem;
    overflow-x: hidden;
}

.hex{
    background-color: #ffffff;
    opacity: 0.2;
    height: 50vh;
    width: 50vh;
    clip-path: polygon(
      25% 6%, 75% 6%,
      100% 50%,
      75% 94%, 25% 94%,
      0% 50%
  );
    position: absolute;
    rotate: 45deg;
    z-index: -1;
    overflow: hidden;
}

.sq{
    background-color: #ffffff;
    rotate: 45deg;
    z-index: -1;
    position: absolute;
    overflow: hidden;
}

.h1{
    top: -28%;
    left: -3%;
}

.h2{
    top: 5%;
    left: -22%;
}

.h3{
    top: 16%;
    left: 3.5%;
}

.h4{
    top: -16%;
    left: 22.5%;
}

.h5{
    top: 49%;
    left: -15%;
}

.s1{
    height: 85vh;
    width: 85vh;
    left: 77%;
}

.s2{
    height:27vh;
    width: 27vh;
    background-color: #ff3b13;
    left: 93.5%;
    top: 7.5%;
}

.s3{
    height:27vh;
    width: 27vh;
    background-color: #ff3b13;
    left: 93.5%;
    top: 78.5%;
}

.s4{
    height: 65vh;
    width: 65vh;
    rotate: 360deg;
    clip-path: polygon(
        50% 0%,
        100% 50%,
        50% 100%,
        0% 50%
    );
    left: 70.5%;
    top: 24%;
}

a:hover:not(#buy a):not(#buy_2 a) {
    border: 1px white solid;
    border-radius: 35px;
    background-color: rgba(256, 256, 256, 0.2);
}
